@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  /*should be set to the same values as animationDuration.ts*/
  --durationFast: 0.25s;
  --durationNormal: 0.5s;
  --durationSlow: 1s;

  --background: #222;
  --lighter: #333;
  --hover: #383838;
  --active: #444;

  --fontColor: #d8d8d8;

  --borderRadius: 0.25rem;
  --borderColor: #666;
  --borderColorDarker: #444;
  --border: 1px solid var(--borderColor);

  --shadowColor: #181818;

  --playerMap: hsl(164, 95%, 40%);
  --playerCard: hsl(164, 95%, 30%);
  --playerCardHover: hsl(164, 95%, 35%);

  --objectCard: hsl(194, 40%, 25%);
  --objectCardHover: hsl(194, 40%, 30%);
  --objectInfo: hsl(194, 15%, 25%);

  --action: hsl(42, 100%, 70%);
  --actionCard: hsla(42, 100%, 70%, 0.15);
}

/*:root {*/
/*  line-height: 1.25;*/
/*  color: var(--fontColor);*/
/*}*/

/*body {*/
/*  background: var(--background);*/
/*}*/

