* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Variables */
:root {
  color-scheme: dark;

  /*should be set to the same values as animationDuration.ts*/
  --durationFast: 0.25s;
  --durationNormal: 0.5s;
  --durationSlow: 1s;

  --background: #222;
  --lighter: #333;
  --hover: #383838;
  --active: #444;

  --fontColor: #d8d8d8;

  --borderRadius: 0.25rem;
  --borderColor: #666;
  --borderColorDarker: #444;
  --border: 1px solid var(--borderColor);

  --shadowColor: #181818;

  --playerMap: hsl(164, 95%, 40%);
  --playerCard: hsl(164, 95%, 30%);
  --playerCardHover: hsl(164, 95%, 35%);

  --objectCard: hsl(194, 40%, 25%);
  --objectCardHover: hsl(194, 40%, 30%);
  --objectInfo: hsl(194, 15%, 25%);

  --action: hsl(42, 100%, 70%);
  --actionCard: hsla(42, 100%, 70%, 0.15);
}

:root {
  line-height: 1.25;
  color: var(--fontColor);
}

body {
  background: var(--background);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

i {
  font-style: italic;
}

ul {
  list-style: none
}

input {
  width: 5rem;
  background: #444;
  padding: 0.25rem;
}

table {
  border-collapse: collapse;
}

button {
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.1rem;
  color: var(--primary);
}

/*button:disabled {*/
/*  color: var(--disabled)*/
/*}*/

button:hover {
  /*color: var(--primaryBright);*/
  /*background: var(--hover);*/
  text-shadow: var(--primary) 0 0 10px;
}

button:active {
  text-shadow: var(--primary) 0 0 15px;
}