.game {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 1fr 20rem;
  grid-template-areas:
      'zone zone'
      'map global';
}

.game > * {
  overflow: hidden;
}

.global {
  grid-area: global;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.map {
  grid-area: map;
}

.zone {
  grid-area: zone;
  border-bottom: var(--border);
}

.box {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  background: #aaa;
}


