.map * {
  transform-box: fill-box;
  transform-origin: center;

}

.transitionTransform {
  transition: transform 1s;
}

.edge {
  stroke: #999999;
}

.node {
  fill: #d8d8d8;
  filter: drop-shadow(0 0.25rem 0.25rem #111);
  cursor: pointer;
  transition: fill 0.25s, filter 0.25s;
}

.center {
  fill: #94bdff;
  filter: drop-shadow(0 0.25rem 0.25rem #111) drop-shadow(0 0 0.25rem #94bdff);
}