.map * {
  transform-box: fill-box;
  transform-origin: center;
}

.edge {
  stroke: #999999;
}

.node {
  fill: #888;
  filter: drop-shadow(0 0.25rem 0.25rem var(--shadowColor));
  cursor: pointer;
  transition: all var(--durationFast)
}

.canTravel {
  fill: var(--fontColor);
}

.playerZone {
  fill: var(--playerMap);
  filter: drop-shadow(0 0.25rem 0.25rem var(--shadowColor)) drop-shadow(0 0 0.25rem var(--playerMap));
}