.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  background: var(--objectCard);
  box-shadow: 0rem 0.25rem 0.5rem var(--shadowColor);
  border-radius: var(--borderRadius);
  user-select: none;
}

.container:hover {
  background: var(--objectCardHover);
}

.player {
  background: var(--playerCard);
}

.player:hover {
  background: var(--playerCardHover);
}

.icon {
  font-size: 3rem;
}