.container {
  display: grid;
  grid-auto-columns: minmax(12rem, calc(100% / 8));
  grid-auto-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.spot {
  position: relative;
  border-right: 1px dashed var(--borderColorDarker);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.spot > * {
  cursor: default;
}

.spot:first-child {
  border-left: var(--border);
}

.spot:last-child {
  border-right: var(--border);
}